/* Navigation Bar Styles */
.navbar {
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar .logo:hover {
  text-decoration: underline;
}